* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
/* display permite que los elementos dentro del contenedor sean responsibos, 
sin la necesidad de que estos tengan display inlineblock, display flex se le asigna al contenedor */

/* flex-wrap permite que el contenedor crezca para poder bajar los elementos en 
caso de que los elementos no tengan el espacio suficiente,
 permitiendolos bajarlos */

/* justify content permite alinear los elementos dentro del contenedor padre */
.container {
  border: 0.3rem solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 50vh;
}
.box {
  width: 10rem;
  height: 10rem;
}
.box1 {
  background-color: blue;
}
.box2 {
  background-color: blueviolet;
}
.box3 {
  background-color: brown;
}
.box4 {
  background-color: cadetblue;
}
.box5 {
  background-color: chartreuse;
}
.box6 {
  background-color: chocolate;
}
